<footer class="mt-auto">
    <br>
    <div class="container justify-content-center">
        <div class="row ">
            <div class="col-sm-12 ">
                <p id="socialsHeader">My Socials</p>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="row ">
            <div class="col-sm-12 ">
                <p>
                    <a href="https://twitter.com/WalkingZ3dd" target="_blank" id="socialButton"><button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></button></a>
                    <a href="https://github.com/WalkingZ3d?tab=repositories" target="_blank" id="socialButton"><button type="button" class="btn btn-social-icon btn-outline-github"><i class="fa fa-github"></i></button></a>
                    <a href="https://www.linkedin.com/in/daniel-willis-44b4a7189/" target="_blank" id="socialButton"><button type="button" class="btn btn-social-icon btn-outline-linkedin"><i class="fa fa-linkedin"></i></button></a>
                    <a href="https://open.spotify.com/" target="_blank" ><button type="button" class="btn btn-social-icon btn-outline-spotify"><span class="bi bi-spotify"></span></button></a></p>
            </div>
        </div>
    </div>         
    <p id="nameEnd">Dan Willis</p>
</footer>

</body>