<%- include('partials/header') -%>    

    <div class="jumbotron text-center" id="title">
        <h1 id="titleH1">Food</h1>
    </div>
    
    <!-- <div class="container"id="formDiv">
        <div
          class="row align-items-center text-white"
          style="min-height: 60vh">
          <div class="col-md-12">
            <form>
              <div class="form-outline mb-4 text-center text-white">
                  <label for="foodName">Food Name</label><br>
                  <input type="text" name="foodName" required id="formInps">
              </div>
            
              <div class="form-outline mb-4 text-center text-white">
                  <label for="amount">Amount (g)</label><br>
                  <input type="amount" name="amount" required id="formInps">
              </div>
              <br>
              <div class="form-outline mb-4 text-center">
                  <button type="submit" class="btn btn-primary mb-4" id="loginBtn">Log Food</button>
              </div>
              
            </form>
            <div class="form-outline mb-4 text-center text-white">
              <button onclick=goBack() id="backBtn">Cancel</button>
          </div>
              

          </div>
          
        </div>
      </div> -->
      
      <div class="container" id="formDiv">
        <div
          class="row align-items-center"
          style="min-height: 60vh">
          <div class="col-md-12" id="formOutline">
            <form>
              <div class="form-outline mb-4 text-center text-white">
                <label for="foodName">Food Name</label><br>
                <input type="text" name="foodName" required id="formInps">
            </div>
              
            <div class="form-outline mb-4 text-center text-white">
              <label for="amount">Amount (g)</label><br>
              <input type="amount" name="amount" required id="formInps">
          </div>
                <br>
                <div class="form-outline mb-4 text-center">
                  <button type="submit" class="btn btn-primary mb-4" id="loginBtn">Log Food</button>
              </div>
              
              </form>
              <div class="form-outline mb-4 text-center text-white">
                <button onclick=goBack() id="backBtn">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        const form = document.querySelector('form');
        const getCaloriesBtn = document.getElementById('calorieBtn');
        let dayPageId = sessionStorage.getItem('id');
    
        form.addEventListener('submit', async (e) => {
          e.preventDefault();

          const foodName = form.foodName.value;
          const amount = form.amount.value;

          let query = amount + 'g ' + foodName;   
          let id = sessionStorage.getItem('id');  

          let newIdSent = 0;

          try {
            console.log('hello')
            const res = await fetch('/next', {
              method: 'POST',                
              headers: { 'Content-Type': 'application/json'},
              body: JSON.stringify({id: id})
            });
            const data = await res.json();
            console.log(data.newId)
            newIdSent = data.newId;
          }
          catch (err){
            console.error(err);
          }
          try {
            console.log('here: ', newIdSent)
            const res = await fetch('/calorie', {
                method: 'POST',                
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({query: query, id: id, userDayNewId: newIdSent})
            });
            const data = await res.json();
            console.log(data)
            const calories = data.calories;
            form.reset();
            console.log(calories)

            
          }
          catch (err){
            console.error(err);
          }
          window.location.assign(`/entry/${dayPageId}`)

        })

        const goBack = () => {
          window.location.assign(`/entry/${dayPageId}`)
        }

        const lol = () => {
          console.log('lol: ', dayPageId)
        }
        document.onload = lol()
      </script>

<%- include('partials/footer') -%> 