<%- include('partials/header') -%>    

    <div class="jumbotron text-center" id="title">
        <h1 id="titleH1">Calorie Tracker</h1>
    </div>
    
    <div class="container text-center">
      <div class="row clickHereDiv">
        <div class="col-sm-12 text-center">
          <p><a href="/days" id="clickHere">Click Here to Start Tracking!</a></p>
        </div>
      </div>    
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-sm-12 text-center">
          <p id="faq">F.A.Q.</p>
        </div>
      </div>    
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-6 cardDiv">
          <div class="card h-100">
            <div class="card-body elegant-color white-text rounded-bottom">
              <h4 class="card-title">How many calories do I need?</h4>
              <hr class="hr-light">
              <p class="card-text white-text mb-4">Adult Males need to eat around 2500 calories per day, Women need around 2000.</p>
            </div>
          </div>
        </div>

        <div class="col mb-6 cardDiv">
          <div class="card h-100">
            <div class="card-body elegant-color white-text rounded-bottom">
              <h4 class="card-title">What kind of foods should I eat?</h4>
              <hr class="hr-light">
              <p class="card-text white-text mb-4">This depends on your body and goals, but to lose weight aim for fruit, veg and pick low fat & sugar options!.</p>
            </div>
          </div>    
        </div>

        <div class="col mb-6 cardDiv">
          <div class="card h-100">
            <div class="card-body elegant-color white-text rounded-bottom">
              <h4 class="card-title">Can I also track my exercise on this app?</h4>
              <hr class="hr-light">
              <p class="card-text white-text mb-4">That content is in development and will be added shortly!</p>
            </div>
          </div>
        </div>

        <div class="col mb-6 cardDiv">
          <div class="card h-100">
            <div class="card-body elegant-color white-text rounded-bottom">
              <h4 class="card-title">What is the purpose of this app?</h4>
              <hr class="hr-light">
              <p class="card-text white-text mb-4">By tracking how many calories you are eating, you are more likely to only eat as much as is necessary.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- 
    <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <img src="/images/fork2.jpg" alt="forks" id="carouselImage">
          </div>
          <div class="carousel-item">
            <img src="/images/calories2.jpg" alt="calories" id="carouselImage">
          </div>
          <div class="carousel-item">
            <img src="/images/scale2.jpg" alt="scales" id="carouselImage">
          </div>
        </div>
      
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    </div> -->
      <br><br>
    
<%- include('partials/footer') -%> 